/* Author: Sol Lopez 
    SIU ITEC
    Date Dev: 2/2/2025
    Date Tested: 2/2/2025
    Comment header for my website -->
*/

/* #3 + #6 */
body {
    margin: 10px;
    padding: 0;
    width: 725px;
    background-color: yellow
}

/* #4 */
h1,h2 {

    padding: 10px;
    
}

/* #5 */
p {

    padding-left: 5px;
    padding-right: 5px;

}

/* #7 */
ul li {

    padding-left: 10px;

}

/* #8  */
img[src="images/surfboardbikeshop.png"] {

    border: 2px solid blue;
    border-radius: 10px;
    
}

/* #9 */
img {
    
    position: relative;
    top: 10px;
    left: 10px;

}

.container {
    
    display: flex;
    justify-content: space-between;
    max-width: 725px;
    margin: 10px auto;
    
}

.left-column {
    
    width: 50%;
    padding: 10px;
    
}
.right-column {
    width: 35%;
    padding: 10px;
    background-color: #f9f9f9; /* Background for contrast */
    border-left: 2px solid #ccc;
}

.bike {
    background-color: #e3f2fd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
}
